/* ------- *
*  About   *
* ------- */


.masonry {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 80vw;
	//font-size: 0;

  h2 {
    font-size: 3em;
    font-weight: bold;
  }
}

.masonry__item {
  width: 33%;
  margin: 1em;
}


.grid--about {
  margin: 2em auto;
  padding: 0 2em;
  max-width: $max;

}

.grid--about h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.bio {
  max-width: 600px;
  padding: 0 1em;
  margin: 4em auto;
  p {
    margin: 0 0 2em 0;
  }
}

.full-bleed {
  margin: 4rem 0;
  width: 100%;
  img {
    max-height: 75vh;
    object-fit: cover;
  }
}
