/* ------- *
*  About   *
* ------- */

//About Grid
.grid--about {
  margin: 0 auto;
  padding: 1em;
  max-width: 900px;
  flex-direction: row-reverse;
  @include bp(medium){
    padding: 2em;
  }
}

.grid--about h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 2rem 0;
  @include bp(medium){
    font-size: 3.75em;
  }
}

.about-image--1 {
  margin: 0 0 1rem 0;
  @include bp(medium){
    margin: 0 0 1rem 0;
  }
}

.about-image--3 {
  margin: 0 0 1rem 0;
  @include bp(medium){
    margin: 0 0 1rem 0;
  }
}

//Bio Text
.bio {
  max-width: 600px;
  padding: 0 1em;
  margin: 2em auto;
  p {
    margin: 0 0 2em 0;
  }
}

//Full Bleed Image Page Divider
.page-divider {
  margin: 4rem 0 2rem;
  width: 100%;
  div { max-height: 750px; }
}

//Bucket list
.bucket-list {
  height: 500px;
  background: $secondary;
  padding: 2em;
  margin: 0 0 1em 0;
  border-radius: 2px;
  h3 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
  }
  ul li {
    list-style: disc;
    list-style-position: inside;
    margin: 0 0 .5em 0;
  }
}

//About Slider
.slider--about {
    margin: 0 0 2em 0;
  .slick-slide {
    height: 500px;
    padding: 0;
    width: 101%;
    div {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      font-family: 'object-fit: cover; object-position: 50% 50%;';
    }
  }
}
