/* ---------- *
*  Galleries  *
* ----------- */

.category-navigation {

}

.category-navigation {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 2em 2em 0 2em;
  h2 {
    text-transform: capitalize;
    font-size: 2.5em;
    margin: 0 0 .5rem 0;
  }
}

.category-navigation__header button:hover {
  cursor: pointer;
  border-color: $base;
  color: $base;
  &:after {
    border-top-color: $base;
  }
}

@media (hover: none) {
  .category-navigation__header button:hover {
    cursor: pointer;
  }
}

.category-navigation__links {
  margin: 1em 0 0 0;
  display: flex;
  flex-flow: row wrap;
  li a {
    display: block;
    color: $base;
    font-size: 1.25em;
    font-weight: 500;
    background: $secondary;
    margin: 0 .5em .5em 0;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 2px;
  }
}

.category-navigation__links .active {
  background: $base;
  color: white;
}

.category-navigation__links a:hover {
  background: lighten($base,25%);
  color: white;
}
