/* ------- *
*  Featured  *
* ------- */

.featured {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  ul {
    margin-top: 4em;
    position: relative;
    width: 33.333%;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    li {
      margin-bottom: 10%;
      width: 100%;
      &:first-child {}
    }
    h3 {
      margin-top: .5em;
    }
  }
}

.featured__newest {
  position: sticky;
  top: 1em;
  width: 63.66%;
  h2 {
    font-size: 2em;
    width: 100%;
    margin: 0 0 1em 0;
  }
  img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
  }
}
