/* ------- *
*  Header  *
* ------- */

.featured {
  position: relative;
  background: $secondary;
  height: 75vh;
  display: block;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  &:before {
    background: rgba(0,0,0,.2);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.featured__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured__title {
  position: absolute;
  color: white;
  font-size: 3em;
  z-index: 2;
}
