/* ---------- *
*  Galleries  *
* ----------- */


.intro--galleries {
  //position: -webkit-sticky;
  //position: sticky;
  top: 0;
  background: $secondary;
  min-height: 200px;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: -1;
  &:before {
    display: none;
    content: '';
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}


.page-title {
  font-size: 2.5em;
  font-weight: 500;
  color: $base;
  padding: 2em;
}

.galleries-list {
  background: white;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 1em;
  @include bp(medium){
    display: grid;
    grid-gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  li {
    background: green;
    margin-bottom: 1em;
    div {
      height: 100%;
    }
    @include bp(medium){
      margin: 0;
      grid-column: span 1;
      &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
      }
      &:nth-child(5n) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }
}
