/* ------- *
*   Home   *
* ------- */

.intro {
  position: relative;
  top: 0;
  background: $secondary;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  &:before {
    content: '';
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.intro img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  display: none;
  color: white;
  font-weight: 300;
  font-size: 3em;
  z-index: 2;
}


.quote {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.quote blockquote {
  line-height: 1.3;
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding: 3em 2em 2em;
  box-sizing: border-box;
}


.featured {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  @include bp(medium){
    padding: 2em 2em 2em 0;
    flex-flow: row;
  }
  ul {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    @include bp(medium){
      width: 33.333%;
    }
    li {
      position: relative;
      margin-bottom: 10%;
      width: 100%;
    }
    h3 {
      color: white;
      display: inline-block;
      padding: .75em;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;

    }
  }
}

.featured__newest {
  width: 100%;
  margin-bottom: 10%;
  position: relative;
  @include bp(medium){
    width: 63.66%;
    position: sticky;
    top: 3em;
    top: 7.5vh;
    margin-bottom: 0;
  }
  h2 {
    font-size: 3em;
    font-weight: 500;
    width: 100%;
    position: absolute;
    text-transform: lowercase;
    top: -.5em;
    left: .5em;
    color: $base;
    @include bp(medium){
      left: 1em;
    }
  }
  img {
    @include bp(medium){
      height: 85vh;
      width: 100%;
      object-fit: cover;
    }
  }
}

.bio {
  margin: 4em 0;
  background: url('http://via.placeholder.com/900x600');
  background: $secondary;
  background-size: cover;
  background-position: center;
}

.bio__inner {
  position: relative;
  width: 66.666%;
  padding: 4em 2em;
  margin: 0 auto !important;
  @include bp(medium){
    width: 50%;
  }
  h2 {
    position: absolute;
    top: 2em;
    left: -.25em;
    font-size: 3em;
    color: white;
    text-transform: capitalize;
    @include bp(medium){
      left: -1em;
    }
  }
  a {
    text-align: right;
    background: white;
    padding: 1em;
    position: absolute;
    right: 0;
    bottom: 3em;
    text-decoration: none;
    z-index: 3;
  }
}
