/* ---------- *
*  Investment  *
* ----------- */

//Intro Image and Title
.intro--investment {
  margin: 0 auto;
  text-align: center;
  @include bp(medium){
    margin: 0 auto 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2em 1em 0;
    position: relative;
  }
  h2 {
    display: inline-block;
    //background: white;
    padding: 1rem 2rem 0 2rem;
    text-align: center;
    font-weight: 500;
    font-size: 3em;
    margin: 0 auto;
    position: relative;
    top: -.8em;
    @include bp(medium){
      font-size: 3.75em;
    }
  }
}

.intro--investment__image {
  max-width: $max;
  width: 100%;
  @include bp(medium){
    width: 66.666%;
    margin: 0 auto;
  }
}

//Tabs
.tabs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

//Tabs Header
.tabs-header {
  background: $secondary;
}

.tab-list {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  z-index: 99;
  margin: 2em auto;
  @include bp(medium){
    margin: 3em auto;
  }
}

.tab {
  font-size: 1em;
  padding: 1em;
  margin: 0 .5em;
  cursor: pointer;
  border: solid 1px $base;
  border-radius: 2px;
}

.tab--selected {
  background: $base;
  color: white;
  &:focus {
    outline: none;
  }
}

//Tab Panel Content
.tab-panel__content {
  background: $secondary;
}

.tab-panel__container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: $max;
  margin: 0 auto;
  padding: 0 1em 2em;
  @include bp(medium){
    padding: 0 2em 3em;
  }
  p {
    margin: 0 0 2em 0;
    &:last-child {
      margin: 0;
    }
  }
  .cover {
    margin: 0 0 2em 0;
  }
  blockquote {
    padding: 2em;
    margin: 2em 0;
    background: darken($secondary,5%);
    h1,h2,h3 {
      font-weight: 500;
      margin: 0 0 2em 0;
      line-height: 1.2;
    }
    ul li {
      text-align: left;
      list-style: disc;
      list-style-position: inside;
      line-height: 1.5;
    }
  }
}

.tab-panel .sidebar {
  width: 100%;
  @include bp(medium){
    flex: 0 0 47.5%;
  }
}

.tab-panel .main {
  width: 100%;
  text-align: left;
  @include bp(medium){
    flex: 0 0 47.5%;
  }
}

//Tab Panel Slider
.tab-panel__slider {
  margin: 0 auto 4em;
  position: relative;
  h3 {
    text-align: center;
    font-size: 2em;
    padding: 0 1em;
    margin: 1.5em 0;
    font-weight: 500;
    color: $base;
  }

}

.slick-slide {
  padding: .25em;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  @include bp(medium){
    padding: 0 .5em;
  }
  img {
    -webkit-user-drag: none;
  }
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  font-size: 0;
  color: transparent;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 2;
  width: 50%;
  height: 100%;
  &:before {
    font-size: 25px;
    color: $base;
    padding: 0;
  }
}

.slick-prev {
  left: 0;
  cursor: w-resize;
}

.slick-next {
  right: 0;
  cursor: e-resize;
}
