/* ---------- *
*  Investment  *
* ----------- */


//Intro Image and Title
.intro--investment {
  margin: 0 auto 2em;
  @include bp(medium){
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2em 1em;
    position: relative;
  }
  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 3em;
    margin: 0 auto;
    position: relative;
    top: -.5em;
    @include bp(medium){
      font-size: 4.5em;
    }
  }
}

.intro--investment__image {
  max-width: $max;
  width: 100%;
  @include bp(medium){
    width: 66.666%;
    margin: 0 auto;
  }
}



//TABS
.tabs {
  padding: 10em 0 4em;
  background: $secondary;
  //max-width: $max;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

//Tab Headers
.tab-list {
  margin: 2.5em auto 0;
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.tab {
  font-size: 1em;
  padding: 1em;
  margin: 0 .5em;
  cursor: pointer;
  border: solid 1px $base;
  border-radius: 2px;
}

.tab--selected {
  background: $base;
  color: white;
  &:focus {
    outline: none;
  }
}

//Tab Panels
.tab-panel {
  background: $secondary;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 2px;
  max-width: $max;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2em;
  img {
    margin: 0 0 2em 0;
  }
  p {
    margin: 0 0 2em 0;
  }
  blockquote {
    padding: 2em;
    margin: 0 0 2em 0;
    background: darken($secondary,5%);
    ul li {
      text-align: left;
      list-style: disc;
      list-style-position: inside;
      line-height: 1.5;
    }
  }
}

.tab-panel--selected {}

.tab-panel__sidebar {
  width: 100%;
  @include bp(medium){
    flex: 0 0 47.5%;
  }
}

.tab-panel__main {
  width: 100%;
  text-align: left;
  @include bp(medium){
    flex: 0 0 47.5%;
  }
}

//Slick Photo Gallery

.slick-container {
  box-sizing: border-box;
  margin: 6em auto 4em;
  position: relative;
  h3 {
    text-align: center;
    font-size: 7em;
    font-weight: 500;
    color: $secondary;
    position: absolute;
    left: 0;
    right: 0;
    top: -.75em;
  }
}

.slick-slider {
  box-sizing: border-box;

  //margin: 2em;
}

.slick-list {
  //box-sizing: border-box;
}


.slick-slide {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.slick-active {}

.slick-center {

}





//Investment Example Galleries
.photo-grid {
  display: none;
  //width: 66.666%;
  max-width: $max;
  box-sizing: border-box;
  margin: 4em auto;
  padding: 0 2em;
}

.photo-grid__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.photo-grid__ul li {
  margin: 0 0 1em 0;
  width: 100%;
  @include bp(medium){
    &:nth-child(1) {
      flex: 0 1 62%;
    }
    &:nth-child(2){
      flex: 0 1 36%;
      align-self: flex-end;
    }
    &:nth-child(3){
      flex: 0 1 36%;
    }
    &:nth-child(4){
      flex: 0 1 62%;
    }
  }
}
