/* ------- *
*  Header  *
* ------- */

nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 100%;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  z-index: 99;
  overflow-y: scroll;
  @include bp(medium){
    width: 50%;
  }
}

.site-nav {
  padding: 7em 4em 0 1em;
  text-align: right;
  font-weight: 300;
  li {
    margin-bottom: 1.5em;
  }
  a {
    display: inline-flex;
    font-size: 2.5em;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: $base;
    @include bp(medium){
      font-size: 2.75em;
    }
    &:hover {
      color: darken($secondary,20%);
    }
  }
}

.logo svg {
  height: 1em;
  width: 1em;
  padding: 0;
  margin: -1em 0 0 0;
  position: absolute;
  left: 1em;
  top: 1.5em;
  fill: $base;
}

.open nav {
  transform: translate3d(0,0,0);
}

.container:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $base;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.open .container {
  transform: translate3d(-100%,0,0);
  @include bp(medium){
    transform: translate3d(-50%,0,0);
  }
  &:after {
    visibility: visible;
    opacity: .8;
  }
}

.toggle {
  position: fixed;
  display: block;
  right: 1em;
  top: 1em;
  z-index: 999;
  padding: 3em;
  &:hover {
    span {
      background: darken($secondary,20%);
      &:first-child { }
      &:nth-child(2) { }
    }

  }
  span {
    position: absolute;
    display: block;
    background: $base;
    width: 30%;
    height: 2px;
    left: 37%;
    &:first-child {
      top: 39%;
    }
    &:nth-child(2) {
      bottom: 39%;
    }
  }
}

.open .toggle {
  span:first-child {
    transform: rotate(45deg);
    top: 50%;
  }
  span:nth-child(2){
    transform: rotate(-45deg);
    bottom: 46%;
  }
}
