/* ------- *
*   Post   *
* ------- */

.post {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.post-cover {
  width: 100%;
  div {
    height: 800px;
    height: 90vh;
  }
  margin-bottom: -200px;
  margin-bottom: -10vh;
}

.post-images {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto;
  @include bp(medium){
    padding: 0 2em;
  }
  li {
    margin: 0 0 1em 0;
  }
}

.post-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1000px;
  padding: 2em;
  margin: 0 1em;
  background: white;
  position: relative;
  box-sizing: border-box;
  @include bp(medium){
    padding: 3em 2em;
    margin: 0 2em;
  }
}

.post-info__left {
  width: 100%;
  @include bp(medium){
    flex: 0 1 33%;
  }
}

.post-info__right {
  width: 100%;
  @include bp(medium){
    flex: 0 1 65%;
  }
}

.post-info-title {
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0 0 .5em 0;
  position: relative;
  z-index: 2;
  text-transform: capitalize;
}

.post-title {
  margin: 0 0 1em 0;
}

.post-date {
  margin: 0 0 1em 0;
}

.post-category {
  margin: 0 0 1em 0;
  //display: inline-block;
  //padding: .5em;
  //border: 1px solid $base;
  //border-radius: 2px;
}
