/* ---------- *
 *  Variables *
 * ---------- */

//Colors
$base: #3e3e3e; // Dark Gray
$secondary: #f1f1f1; // Light Gray
$highlight: #7da0bb; // Light Blue

//Font Family
$sans: "Roboto", sans-serif;

//Max Width
$max: 1200px;
