/* ----------- *
 *  Animation  *
 * ----------- */

nav {
  transition: transform .6s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

nav a {
  transition: color .3s;
}

.container, .container:after {
  transition: transform .6s, opacity .5s, filter .6s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.toggle {
  transition: all .3s;
  span {
    transition: all .3s;
  }
}
