/* ----------- *
 *  Animation  *
 * ----------- */

nav {
  transition: transform .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

nav a, .container a {
  transition: color .3s;
}

a .icon {
  transition: all .3s;
}

.container, .modal--contact {
  transition: transform .5s, opacity .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.open--menu .container:after, .open--modal .container:after, .open--modal .modal--contact {
  transition: opacity .5s, visibility 0s linear 0s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.container:after {
  transition: opacity .5s, visibility 0s linear .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.post-preview div:after {
  transition: background-color .5s;
}

.galleries-list li h3, .featured__newest h3, .featured__list h3 {
  transition: all 0.3s;
}

.category-navigation__links {
  transition: all 0.3s;
}

.toggle, .up-button__arrow {
  transition: all .3s;
  span {
    transition: all .3s;
  }
}

.toggle__label {
  transition: all .5s;
}

.toggle:hover {
  .toggle__label {
    transition: all .5s;
  }
}

//React Transition group

.transition-group {

}

.transition-container {

}

.example-enter {
  //opacity: 0.01;
}

.example-enter.example-enter-active {
  //opacity: 1;
  //transition: opacity 500ms ease-in;
}

.example-exit {
  //opacity: 1;
}

.example-exit.example-exit-active {
  //opacity: 0.01;
  //transition: opacity 300ms ease-in;
}
