/* ----------- *
 *  Animation  *
 * ----------- */

nav {
  transition: transform .6s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

nav a, .container a {
  transition: color .3s;
}

.container {
  transition: transform .6s, opacity .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.open .container:after {
  transition: opacity .5s, visibility 0s linear 0s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.container:after {
  transition: opacity .5s, visibility 0s linear .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.post-preview div:after {
  transition: background-color .5s;
}

.galleries-list li h3, .galleries-list li img {
  transition: all 0.3s;
}

.toggle {
  transition: all .3s;
  span {
    transition: all .3s;
  }
}
