/* ------- *
 *  Hacks  *
 * ------- */

 .galleries-list li {
   @include bp(medium){
     @supports (display: grid) {
			 @-moz-document url-prefix() {
				 	min-height: 200px;
			 }
     }
   }
 }

.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $secondary inset;
  -webkit-text-fill-color: $base;
}
