/* ------- *
 *  Hacks  *
 * ------- */

 .galleries-list li {
   @include bp(medium){
     @supports (display: grid) {
			 @-moz-document url-prefix() {
				 	min-height: 200px;
			 }
     }
   }
 }

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill  {
   background-color: $secondary;
  -webkit-text-fill-color: $base;
}
