/* ------- *
 *   Main  *
 * ------- */

.container {
  margin: 0 0 4rem 0;
}

//Remove Button Styling
button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}
