/* ------- *
 *   Main  *
 * ------- */

.container {
  //padding: 2em;
	height: 100%;
}

#wrapper {

}

//Remove Button Styling
button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

body {
  font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 300;
}
